@font-face {
  font-family: header;
  src: url(./assets/font/Rubik/static/Rubik-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
}

header {
  font-family: header;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 70%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #f55a5a;
  color: aliceblue;
  height: 55px;
}

header > img {
  width: 24px;
  
}

header > h1 {
  font-size: 0.9rem;
  font-weight: 500;
}

.container {
  width: 70%;
  margin: auto;
  height: 100vh;
  box-shadow: 10px 10px 10px #ccc;
  border-radius: 16px;
}

article {
  display: flex;
  align-items: center;
  flex-direction: column;
}


